projects/nodeRedBck/CovidCity.json
[{"id":"fadf8292.a16a4","type":"tab","label":"COVID_CITY","disabled":true,"info":""},{"id":"7b8a088d.c16158","type":"function","z":"fadf8292.a16a4","name":"Cijfers stad","func":"//var STAD=\"Oostende\";\nvar STAD=flow.get(\"STAD\")\nvar newArr=[];\nvar lenData=msg.payload.length;\n\n// lus door json object\nfor (var k=0;k<lenData;k++){\n    // enkel lijnen voor de stad\n    if(msg.payload[k][\"TX_DESCR_NL\"]==STAD){\n        // datum\n        d=msg.payload[k][\"DATE\"];\n        // aantal cases\n        c=msg.payload[k][\"CASES\"];\n        // cases \"<5\" vervangen door 2\n        if (c==\"<5\"){c=\"2\";}\n        // nieuw datapunt (x,y) op array pushen\n        var newVal={\"x\":d,\"y\":c};\n        newArr.push(newVal);\n    }\n}\n\nmsg.payload=[{\"series\":[\"cases \"+STAD],\"data\":[newArr],\"labels\":[\"cases data\"]}];\nmsg.topic=STAD\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":180,"wires":[["492ffec8.5fee3","861c77fd.e03bb8"]]},{"id":"492ffec8.5fee3","type":"ui_chart","z":"fadf8292.a16a4","name":"","group":"195c9de9.6246b2","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"D/M/Y","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1050,"y":120,"wires":[[]]},{"id":"861c77fd.e03bb8","type":"debug","z":"fadf8292.a16a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":240,"wires":[]},{"id":"712f3f52.90e67","type":"ui_text_input","z":"fadf8292.a16a4","name":"stad","label":"","tooltip":"","group":"9d02097e.47b7d8","order":1,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"topicType":"msg","x":250,"y":80,"wires":[["df4efb11.2e4978"]]},{"id":"df4efb11.2e4978","type":"function","z":"fadf8292.a16a4","name":"set flow var STAD","func":"flow.set(\"STAD\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":80,"wires":[["22a31649.95831a"]]},{"id":"22a31649.95831a","type":"function","z":"fadf8292.a16a4","name":"zet msg.payload = global var COVID","func":"msg.payload=global.get(\"COVID\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":180,"wires":[["7b8a088d.c16158"]]},{"id":"195c9de9.6246b2","type":"ui_group","name":"Data","tab":"adf0d80e.8f5b68","order":1,"disp":true,"width":"16","collapse":false,"className":""},{"id":"9d02097e.47b7d8","type":"ui_group","name":"Search","tab":"adf0d80e.8f5b68","order":2,"disp":true,"width":"16","collapse":false,"className":""},{"id":"adf0d80e.8f5b68","type":"ui_tab","name":"COVID Status","icon":"dashboard","order":2,"disabled":false,"hidden":false}]