projects/nodeRedBck/CovidCityCombo.json
[{"id":"c832b0ed.d4145","type":"tab","label":"COVID_CITY_COMBO","disabled":true,"info":""},{"id":"423da87b.802938","type":"function","z":"c832b0ed.d4145","name":"data city","func":"var STAD = flow.get(\"STAD\");\nvar newArr =[];//rij voor data in te stoppen\nvar lenData = msg.payload.length;//lengte van het json object\nfor(var k=0;k<lenData;k++){//lopen door het json object\n    if(msg.payload[k][\"TX_DESCR_NL\"]==STAD){//lijnen ophalen gelijk aan STAD\n        d=msg.payload[k][\"DATE\"];//een bepaalde datum voor de STAD\n        c=msg.payload[k][\"CASES\"];//aantal gevallen voor die bepaalde datum voor de STAD\n        if(c==\"<5\"){c=\"2\";}//als er staat <5 dan wordt cases gelijk aan 2\n        var newVal = {\"x\":d,\"y\":c};//datapunt in goede structuur brengen\n        newArr.push(newVal);//datapunt toevoegen aan rij voor data\n    }\n}\nmsg.payload = [{\"series\":[\"cases \"+STAD],\"labels\":[\"cases\"],\"data\":[newArr]}];\n//payload gelijkstellen aan data, maar in een bepaalde structuur (goed voor chart node)\nmsg.topic=STAD\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":220,"wires":[["be6dca7.7f44138"]]},{"id":"be6dca7.7f44138","type":"ui_chart","z":"c832b0ed.d4145","name":"","group":"85e8eb26.76b608","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":850,"y":220,"wires":[[]]},{"id":"fcbca16a.d3261","type":"function","z":"c832b0ed.d4145","name":"zet msg.payload = global COVID","func":"msg.payload = global.get(\"COVID\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":140,"wires":[["423da87b.802938"]]},{"id":"1147e1cd.2a873e","type":"function","z":"c832b0ed.d4145","name":"zet flow var STAD","func":"flow.set(\"STAD\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["fcbca16a.d3261"]]},{"id":"5cba8b63.26bfe4","type":"ui_dropdown","z":"c832b0ed.d4145","name":"combo cities","label":"","tooltip":"","place":"Select option","group":"85e8eb26.76b608","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":250,"y":140,"wires":[["1147e1cd.2a873e"]]},{"id":"69bc9649.19f778","type":"inject","z":"c832b0ed.d4145","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":500,"wires":[["128ba3c1.fc72dc"]]},{"id":"7cb95e94.01f8e","type":"function","z":"c832b0ed.d4145","name":"zet msg.payload = global COVID","func":"msg.payload = global.get(\"COVID\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":400,"wires":[["8eb5fb37.d1bce8"]]},{"id":"8eb5fb37.d1bce8","type":"function","z":"c832b0ed.d4145","name":"cities","func":"var newArr =[];//rij voor data in te stoppen\nvar lenData = msg.payload.length;//lengte van het json object\nfor(var k=0;k<lenData;k++){//lopen door het json object\n    c=msg.payload[k][\"TX_DESCR_NL\"];//aantal gevallen voor die bepaalde datum voor de STAD\n    if (!newArr.includes(c)){//Kijken of de opgehaalde stad reeds in de rij staat\n        newArr.push(c);//Indien niet toevoegen aan rij voor data\n    }\n}\nnewArr.sort();//sorteren van A .. Z\nmsg.options = newArr;//opties opvullen combobox\n//payload gelijkstellen aan data, maar in een bepaalde structuur (goed voor chart node)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":400,"wires":[["5cba8b63.26bfe4"]]},{"id":"128ba3c1.fc72dc","type":"http request","z":"c832b0ed.d4145","name":"Sciensano data","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://epistat.sciensano.be/Data/COVID19BE_CASES_MUNI.json","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":500,"wires":[["76ef9fd6.2c22d"]]},{"id":"76ef9fd6.2c22d","type":"json","z":"c832b0ed.d4145","name":"","property":"payload","action":"","pretty":false,"x":550,"y":500,"wires":[["dacfc57d.7cc6b8"]]},{"id":"dacfc57d.7cc6b8","type":"function","z":"c832b0ed.d4145","name":"set Global var COVID","func":"global.set(\"COVID\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":400,"wires":[["7cb95e94.01f8e"]]},{"id":"85e8eb26.76b608","type":"ui_group","name":"Data","tab":"9d24e2ec.7dc12","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"9d24e2ec.7dc12","type":"ui_tab","name":"COVID CITY","icon":"dashboard","order":3,"disabled":false,"hidden":false}]