projects/nodeRedBck/CovidCityComboEffevee.json
[{"id":"fe278629.33aac8","type":"tab","label":"COVID_CITY_COMBO_Effevee","disabled":true,"info":""},{"id":"e8119605.fe1d98","type":"function","z":"fe278629.33aac8","name":"Cijfers stad","func":"//var STAD=\"Oostende\";\nvar STAD=flow.get(\"STAD\")\nvar newArr=[];\nvar lenData=msg.payload.length;\n\n// lus door json object\nfor (var k=0;k<lenData;k++){\n    // enkel lijnen voor de stad\n    if(msg.payload[k][\"TX_DESCR_NL\"]==STAD){\n        // datum\n        d=msg.payload[k][\"DATE\"];\n        // aantal cases\n        c=msg.payload[k][\"CASES\"];\n        // cases \"<5\" vervangen door 2\n        if (c==\"<5\"){c=\"2\";}\n        // nieuw datapunt (x,y) op array pushen\n        var newVal={\"x\":d,\"y\":c};\n        newArr.push(newVal);\n    }\n}\n\nmsg.payload=[{\"series\":[\"cases \"+STAD],\"data\":[newArr],\"labels\":[\"cases data\"]}];\nmsg.topic=STAD\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1620,"wires":[["afa728b0.bbc318","97270ba1.8c06b8"]]},{"id":"afa728b0.bbc318","type":"ui_chart","z":"fe278629.33aac8","name":"","group":"195c9de9.6246b2","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"D/M/Y","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":930,"y":1540,"wires":[[]]},{"id":"97270ba1.8c06b8","type":"debug","z":"fe278629.33aac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":1660,"wires":[]},{"id":"a8ce6aee.388ed8","type":"function","z":"fe278629.33aac8","name":"set flow var STAD","func":"flow.set(\"STAD\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1480,"wires":[["55b83569.89670c"]]},{"id":"55b83569.89670c","type":"function","z":"fe278629.33aac8","name":"zet msg.payload = global var COVID","func":"msg.payload=global.get(\"COVID\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1480,"wires":[["e8119605.fe1d98"]]},{"id":"a18224a3.068598","type":"ui_dropdown","z":"fe278629.33aac8","name":"","label":"","tooltip":"","place":"Select option","group":"9d02097e.47b7d8","order":2,"width":"6","height":"1","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":140,"y":1480,"wires":[["a8ce6aee.388ed8"]]},{"id":"c0ba9992.744ef8","type":"inject","z":"fe278629.33aac8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1320,"wires":[["821b842f.4afaa8"]]},{"id":"821b842f.4afaa8","type":"function","z":"fe278629.33aac8","name":"zet msg.payload = global var COVID","func":"msg.payload=global.get(\"COVID\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1320,"wires":[["215e9f9b.e8015"]]},{"id":"215e9f9b.e8015","type":"function","z":"fe278629.33aac8","name":"Steden","func":"var newArr=[];\nvar lenData=msg.payload.length;\n\n// lus door json object\nfor (var k=0;k<lenData;k++){\n    // city\n    c=msg.payload[k][\"TX_DESCR_NL\"];\n    // testen of city al in de array zit\n    if (!newArr.includes(c)){\n        // city op array pushen\n        newArr.push(c);\n    }\n}\n// array sorteren\nnewArr.sort();\n// optie opvullen combobox\nmsg.options=newArr; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1320,"wires":[["a18224a3.068598"]]},{"id":"195c9de9.6246b2","type":"ui_group","name":"Data","tab":"adf0d80e.8f5b68","order":1,"disp":true,"width":"16","collapse":false,"className":""},{"id":"9d02097e.47b7d8","type":"ui_group","name":"Search","tab":"adf0d80e.8f5b68","order":2,"disp":true,"width":"16","collapse":false,"className":""},{"id":"adf0d80e.8f5b68","type":"ui_tab","name":"COVID Status","icon":"dashboard","order":2,"disabled":false,"hidden":false}]