projects/nodeRedBck/dbTestData.json
[{"id":"13a43356.87d91d","type":"tab","label":"dbTestData","disabled":false,"info":""},{"id":"a62a1827.9036c8","type":"inject","z":"13a43356.87d91d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["5bd0894e.d8e828","7a68be15.3df5a"]]},{"id":"5bd0894e.d8e828","type":"random","z":"13a43356.87d91d","name":"0-100","low":"0","high":"100","inte":"true","property":"payload","x":310,"y":160,"wires":[["b7e733c4.26734"]]},{"id":"7a68be15.3df5a","type":"random","z":"13a43356.87d91d","name":"50-95","low":"50","high":"95","inte":"true","property":"payload","x":310,"y":240,"wires":[["917c348a.147298"]]},{"id":"b7e733c4.26734","type":"change","z":"13a43356.87d91d","name":"x=","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"x=\"&$string(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":160,"wires":[["2a3af2d9.5df90e"]]},{"id":"2a3af2d9.5df90e","type":"join","z":"13a43356.87d91d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":200,"wires":[["8025dd39.7d518"]]},{"id":"917c348a.147298","type":"change","z":"13a43356.87d91d","name":"y=","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"y=\"&$string(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["de3f7bd5.43b338"]]},{"id":"8025dd39.7d518","type":"function","z":"13a43356.87d91d","name":"pos,robot=robot1 x= ,y=","func":"/* pos,robot=robot1 x=22 y=44*/\nmsg.payload=\"pos,robot=robot1 \"+msg.payload[0]+\",\"+msg.payload[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":180,"wires":[["1bf3f1f2.10cf8e","45782fb0.5f8d4"]]},{"id":"1bf3f1f2.10cf8e","type":"mqtt out","z":"13a43356.87d91d","name":"","topic":"testdata","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1371b3f5.ffe89c","x":1120,"y":120,"wires":[]},{"id":"45782fb0.5f8d4","type":"debug","z":"13a43356.87d91d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":260,"wires":[]},{"id":"de3f7bd5.43b338","type":"delay","z":"13a43356.87d91d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":340,"wires":[["2a3af2d9.5df90e"]]},{"id":"1371b3f5.ffe89c","type":"mqtt-broker","name":"","broker":"raspifrank.local","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]