projects/nodeRedBck/FlowMotor.json
[{"id":"b52d77dd.c4be98","type":"tab","label":"FlowMotor","disabled":false,"info":""},{"id":"7b926f26.c653a","type":"ui_slider","z":"b52d77dd.c4be98","name":"","label":"sturing","tooltip":"","group":"10f38012.3da47","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"-100","max":"100","step":1,"className":"","x":320,"y":320,"wires":[["686dbbd4.cf5944","c7f5fb2f.2b05c8"]]},{"id":"f24f93a0.984bd","type":"debug","z":"b52d77dd.c4be98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":240,"wires":[]},{"id":"d77597f.8447468","type":"inject","z":"b52d77dd.c4be98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":240,"wires":[["7b926f26.c653a"]]},{"id":"686dbbd4.cf5944","type":"ui_text","z":"b52d77dd.c4be98","group":"10f38012.3da47","order":1,"width":0,"height":0,"name":"","label":"waarde","format":"{{msg.payload}}","layout":"row-spread","className":"","x":540,"y":380,"wires":[]},{"id":"b77cbd2d.fef8f","type":"serial out","z":"b52d77dd.c4be98","name":"","serial":"e73a51ef.8531a","x":790,"y":120,"wires":[]},{"id":"c7f5fb2f.2b05c8","type":"function","z":"b52d77dd.c4be98","name":"add newline","func":"msg.payload=msg.payload+\"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":120,"wires":[["b77cbd2d.fef8f","f24f93a0.984bd"]]},{"id":"10f38012.3da47","type":"ui_group","name":"snelheid & richting","tab":"b8fd3c80.74a2a","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e73a51ef.8531a","type":"serial-port","serialport":"/dev/serial0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"100"},{"id":"b8fd3c80.74a2a","type":"ui_tab","name":"motor","icon":"dashboard","order":6,"disabled":false,"hidden":false}]