projects/nodeRedBck/flowGPSDataWorldMap.json
[{"id":"e99fe350.4199e","type":"tab","label":"FlowGPSDataWorldMap","disabled":false,"info":""},{"id":"6e5a7001.0321d","type":"mqtt in","z":"e99fe350.4199e","name":"","topic":"frankv16/lat_lon","qos":"2","datatype":"auto","broker":"1371b3f5.ffe89c","nl":false,"rap":true,"rh":0,"x":340,"y":120,"wires":[["12b54d4b.9fd813"]]},{"id":"6c5b0e99.158d2","type":"debug","z":"e99fe350.4199e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":60,"wires":[]},{"id":"12b54d4b.9fd813","type":"json","z":"e99fe350.4199e","name":"","property":"payload","action":"","pretty":false,"x":530,"y":120,"wires":[["6c5b0e99.158d2","7e23e345.7fad5c"]]},{"id":"7e23e345.7fad5c","type":"function","z":"e99fe350.4199e","name":"omvormen van data om aan te bieden aan Worldmap","func":"lat = msg.payload.lat;\nlon = msg.payload.lon;\nmsg.payload = {\"name\":\"test\",\"lat\":lat,\"lon\":lon};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":160,"wires":[["bbcb233b.811ff"]]},{"id":"bbcb233b.811ff","type":"ui_worldmap","z":"e99fe350.4199e","group":"b1a450c1.cd52f","order":0,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":940,"y":280,"wires":[]},{"id":"1371b3f5.ffe89c","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b1a450c1.cd52f","type":"ui_group","name":"map","tab":"68458ebc.26a92","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"68458ebc.26a92","type":"ui_tab","name":"Locatie","icon":"dashboard","order":7,"disabled":false,"hidden":false}]