projects/nodeRedBck/FlowSPI.json
[{"id":"6fa1b3d4.c90c7c","type":"tab","label":"FlowSPI","disabled":false,"info":""},{"id":"cf7fbf3c.d097f","type":"mqtt in","z":"6fa1b3d4.c90c7c","name":"LDR1","topic":"frankv16/LDRval1","qos":"1","datatype":"auto","broker":"1371b3f5.ffe89c","nl":false,"rap":true,"rh":0,"x":310,"y":180,"wires":[["ac73d4cf.1879c8","c1426c57.f6a0a"]]},{"id":"8b3d2909.477258","type":"ui_chart","z":"6fa1b3d4.c90c7c","name":"","group":"9d84657e.2a6398","order":0,"width":0,"height":0,"label":"LDR spanning","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3.3","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#e9afe1","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":860,"y":220,"wires":[[]]},{"id":"ac73d4cf.1879c8","type":"debug","z":"6fa1b3d4.c90c7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"6bf304d6.94903c","type":"mqtt in","z":"6fa1b3d4.c90c7c","name":"LDR2","topic":"frankv16/LDRval2","qos":"1","datatype":"auto","broker":"1371b3f5.ffe89c","nl":false,"rap":true,"rh":0,"x":310,"y":280,"wires":[["12219c7e.7ded34","cd44c032.86746"]]},{"id":"12219c7e.7ded34","type":"debug","z":"6fa1b3d4.c90c7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":360,"wires":[]},{"id":"c1426c57.f6a0a","type":"change","z":"6fa1b3d4.c90c7c","name":"set topic LDR1","rules":[{"t":"set","p":"topic","pt":"msg","to":"LDR1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["8b3d2909.477258"]]},{"id":"cd44c032.86746","type":"change","z":"6fa1b3d4.c90c7c","name":"set topic LDR2","rules":[{"t":"set","p":"topic","pt":"msg","to":"LDR2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["8b3d2909.477258"]]},{"id":"1371b3f5.ffe89c","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9d84657e.2a6398","type":"ui_group","name":"LDR","tab":"409596e.33dbc68","order":1,"disp":false,"width":"12","collapse":false,"className":""},{"id":"409596e.33dbc68","type":"ui_tab","name":"SPI","icon":"dashboard","order":8,"disabled":false,"hidden":false}]