projects/nodeRedBck/FlowGetCovidData.json
[{"id":"6848a505.aec1bc","type":"tab","label":"FlowGetCovidData","disabled":true,"info":""},{"id":"411a6ffa.a4cca","type":"ui_button","z":"6848a505.aec1bc","name":"","group":"7b8a7d8e.463304","order":0,"width":0,"height":0,"passthru":false,"label":"GO","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":120,"wires":[["6d7866ca.702ac8"]]},{"id":"6d7866ca.702ac8","type":"http request","z":"6848a505.aec1bc","name":"get Sciensano data","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://epistat.sciensano.be/Data/COVID19BE_CASES_MUNI.json","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":120,"wires":[["86ee327d.1b0dc","bf1653e1.8d10a","83d988ef.d2d678"]]},{"id":"86ee327d.1b0dc","type":"debug","z":"6848a505.aec1bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":40,"wires":[]},{"id":"bf1653e1.8d10a","type":"file","z":"6848a505.aec1bc","name":"","filename":"/home/pi/RPi_Python/projects/data/covid.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":750,"y":120,"wires":[[]]},{"id":"83d988ef.d2d678","type":"json","z":"6848a505.aec1bc","name":"","property":"payload","action":"","pretty":false,"x":630,"y":200,"wires":[["b5f478d9.591c78"]]},{"id":"b5f478d9.591c78","type":"function","z":"6848a505.aec1bc","name":"set global var COVID","func":"global.set(\"COVID\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":200,"wires":[[]]},{"id":"7b8a7d8e.463304","type":"ui_group","name":"Get Data","tab":"fc702d37.0cf8c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fc702d37.0cf8c","type":"ui_tab","name":"Get COVID Data","icon":"dashboard","order":3,"disabled":false,"hidden":false}]