projects/nodeRedBck/FlowDoelStats.json
[{"id":"beb7cd98.0e4dc","type":"tab","label":"FlowDoelStats","disabled":false,"info":""},{"id":"3eba93c.e00826c","type":"ui_text","z":"beb7cd98.0e4dc","group":"795961ed.e56c3","order":1,"width":0,"height":0,"name":"","label":"goals","format":"{{msg.payload.GOALS}}","layout":"row-spread","className":"","x":730,"y":200,"wires":[]},{"id":"dbf1ab95.c70a28","type":"ui_text","z":"beb7cd98.0e4dc","group":"795961ed.e56c3","order":2,"width":0,"height":0,"name":"","label":"missers","format":"{{msg.payload.MISSERS}}","layout":"row-spread","className":"","x":740,"y":260,"wires":[]},{"id":"99d3fa83.f95428","type":"ui_text","z":"beb7cd98.0e4dc","group":"795961ed.e56c3","order":3,"width":0,"height":0,"name":"","label":"paal","format":"{{msg.payload.PAAL}}","layout":"row-spread","className":"","x":730,"y":320,"wires":[]},{"id":"d26f87b5.3641a8","type":"mqtt in","z":"beb7cd98.0e4dc","name":"","topic":"FrankV16/goalApp","qos":"1","datatype":"auto","broker":"99b1f5b5.96f448","nl":false,"rap":true,"rh":0,"x":230,"y":260,"wires":[["980f68a5.3d4848","235a02a6.7e5a3e"]]},{"id":"235a02a6.7e5a3e","type":"json","z":"beb7cd98.0e4dc","name":"","property":"payload","action":"","pretty":false,"x":450,"y":260,"wires":[["3eba93c.e00826c","dbf1ab95.c70a28","99d3fa83.f95428"]]},{"id":"980f68a5.3d4848","type":"debug","z":"beb7cd98.0e4dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":360,"wires":[]},{"id":"6e91a63.c265158","type":"ui_button","z":"beb7cd98.0e4dc","name":"","group":"795961ed.e56c3","order":3,"width":0,"height":0,"passthru":false,"label":"Sjot","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":480,"wires":[["3d429af5.1c7726","e98eb903.31b2e8"]]},{"id":"3d429af5.1c7726","type":"mqtt out","z":"beb7cd98.0e4dc","name":"","topic":"FrankV16/goalAppSjot","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"99b1f5b5.96f448","x":500,"y":480,"wires":[]},{"id":"e98eb903.31b2e8","type":"debug","z":"beb7cd98.0e4dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":560,"wires":[]},{"id":"795961ed.e56c3","type":"ui_group","name":"Resultaat","tab":"a876617d.0fe01","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"99b1f5b5.96f448","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a876617d.0fe01","type":"ui_tab","name":"Doel statistieken","icon":"dashboard","order":5,"disabled":false,"hidden":false}]