projects/nodeRedBck/oefeningUI.json
[{"id":"85895d1a.b6073","type":"tab","label":"Oefening UI","disabled":true,"info":""},{"id":"f0c8f5a7.fd6c78","type":"inject","z":"85895d1a.b6073","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":120,"wires":[["d1e55706.e04908"]]},{"id":"d1e55706.e04908","type":"random","z":"85895d1a.b6073","name":"random tussen 1 en 20","low":1,"high":"20","inte":"true","property":"payload","x":400,"y":120,"wires":[["b750dacd.9ef1a8"]]},{"id":"b750dacd.9ef1a8","type":"join","z":"85895d1a.b6073","name":"rij 8 elementen","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":620,"y":120,"wires":[["1f57e0fb.c1632f","6cd4b23d.f56a1c","62773c72.4b2034","38941470.82009c"]]},{"id":"1f57e0fb.c1632f","type":"change","z":"85895d1a.b6073","name":"gemiddelde rij","rules":[{"t":"set","p":"payload","pt":"msg","to":"$average(msg.payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"gem","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":120,"wires":[["c9a336bd.d7dd88","73af386d.8801b8"]]},{"id":"c9a336bd.d7dd88","type":"debug","z":"85895d1a.b6073","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":60,"wires":[]},{"id":"6cd4b23d.f56a1c","type":"debug","z":"85895d1a.b6073","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":40,"wires":[]},{"id":"73af386d.8801b8","type":"ui_chart","z":"85895d1a.b6073","name":"","group":"143559db.87dab6","order":1,"width":"0","height":"0","label":"willekeurige getallen","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1140,"y":180,"wires":[[]]},{"id":"3169f4d.c80420c","type":"ui_button","z":"85895d1a.b6073","name":"","group":"143559db.87dab6","order":2,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"[]","payloadType":"json","topic":"payload","topicType":"msg","x":990,"y":320,"wires":[["73af386d.8801b8"]]},{"id":"62773c72.4b2034","type":"change","z":"85895d1a.b6073","name":"minimum rij","rules":[{"t":"set","p":"payload","pt":"msg","to":"$min(msg.payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":180,"wires":[["73af386d.8801b8"]]},{"id":"38941470.82009c","type":"change","z":"85895d1a.b6073","name":"maximum rij","rules":[{"t":"set","p":"payload","pt":"msg","to":"$max(msg.payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"max","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["73af386d.8801b8"]]},{"id":"143559db.87dab6","type":"ui_group","name":"Gemiddelde","tab":"f735a3b9.d4f27","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f735a3b9.d4f27","type":"ui_tab","name":"Signaal","icon":"dashboard","order":1,"disabled":false,"hidden":false}]